.add_user{
  width: 50%;
  margin: auto;

}
.input:focus{
  outline: none;
  border: white;
}
.add_btn{
  background-color: #04efa0;
    border-radius: 14px;
    color: black;
}
.add_btn:hover{
  background-color: #34b88c;
  color: black;
  transform: rotate(20deg);

}
.search_div{
  display: flex;
  justify-content: center;
  border: 1px dashed #25b678;
  width: 250px;
  border-radius: 22px;
  align-items: center;
  padding: 0;
  margin: auto;

}
input{
  border: none;
}
.search_input:focus{

  border:none !important;
  -webkit-box-shadow:0 1px 2px white inset !important;
  -moz-box-shadow:0 1px 2px white inset !important;
  box-shadow:0 1px 2px white inset !important;
  outline: none !important;

}

@media only screen and (max-width: 600px) {
  .add_user {

    width: 100%;
  }
}